ion-toolbar {
  --padding-bottom: 7px;
  --padding-top: 7px;
  --padding-end: 8px;
  --padding-start: 8px;
  --min-height: 64px;
  --background: var(--background-color-light);
  #toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      #logo-text {
        color: var(--color-dark);
        font-size: 1.6rem;
        span {
          color: var(--ion-color-primary);
        }
      }
    }

    #scores-container {
      display: flex;
      justify-content: space-around;

      .score-input {
        box-sizing: border-box;
        height: fit-content;
        width: fit-content;
        font-size: 0.7rem;
        display: flex;
        justify-content: space-between;
        margin-left: 16px;
        padding: 8px 16px;
        background-color: var(--background-color-dark);
        border-radius: 50px;
        p:first-of-type {
          margin-right: 4px;
        }
        p:last-of-type {
          color: yellow;
        }
        p {
          margin: auto;
          padding: auto;
        }
      }
    }
  }
}

div.ion-page {
  ion-content {
    --background: var(--background-color-dark);
  }
}

ion-tabs {
  --ion-tab-bar-background: var(--background-color-light);
}

.home-main-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 64px;
  overflow: hidden;
}

.page-main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  overflow: hidden;
}
