.pixel-details-header {
  padding: 8px;
  height: 50px;
  display: flex;
  align-items: center;
  .pixel {
    width: 30px;
    height: 30px;
    background-color: var(--color);
    border: 2px solid var(--ion-color-primary);
  }
  .name {
    text-align: center;
    color: var(--color-secondary);
    span {
      color: var(--color-dark);
    }
    flex: 1;
  }
  .coords {
    color: var(--color-secondary);
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-dark);
  .color-blocks {
    display: flex;
    justify-content: space-between;
    flex: 1;
    .color-block {
      width: 15px;
      height: 15px;
      /* background-color: var(--default-pixel-color); */
      margin: 2px 8px;
      opacity: 0.7;
    }
  }
  .info {
    padding: 8px 2px;
    display: flex;
    align-items: center;
    .info-title {
      width: 120px;
      color: white;
      .title-value {
        flex: 1;
      }
    }
    .info-value {
      flex: 2;
      color: white;
      display: flex;
      align-items: center;
      justify-content: end;
      .unit {
        margin-left: 4px;
      }
      .additional-info {
        margin-left: 4px;
        color: var(--color-secondary);
      }
    }
  }
}
