.user-toolbar {
  color: var(--sub-color);
  &:hover {
    color: var(--text-color);
  }

  #username {
    color: var(--ion-color-primary);
  }
}

ion-popover {
  ion-label {
    color: white;
  }
}

.user-toolbar-popover {
  ion-item {
    --color: white;
    color: white;

    .connect {
      color: white;
    }
  }

  .connect {
    color: white;
  }
}

ion-button {
  ion-label {
    --color: white;
    color: white;
  }
}

@media (max-width: 768px) {
  ion-button.user-toolbar {
    ion-label {
      display: none;
    }
  }
}
