/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root,
ion-popover {
  /***************/
  /* NEW VARIABLES
  /***************/
  // Canvas backdrop
  --default-pixel-color: 0xffffff;
  // main background
  --background-color-light: var(--ion-color-light);
  // Toolbar panels, sidebars
  --background-color-medium: var(--ion-color-medium);
  // Modals, footers, overlays drawers
  --background-color-dark: var(--ion-color-dark);
  // Main buttons, active icons
  --color-primary: var(--ion-color-primary);
  // Erase/undo actions, tooltips
  --color-secondary: var(--ion-color-secondary);
  // Modal headers, dropdowns
  --color-tertiary: var(--ion-color-tertiary);
  // Unclaimed grid pixels
  --color-light: var(--ion-color-light);
  // Borders, dividers, inactive buttons
  --color-medium: var(--ion-color-medium);
  // Gridlines, primary text on light backgrounds
  --color-dark: var(--ion-color-dark);
  // Responses
  --color-success: var(--ion-color-success);
  --color-warning: var(--ion-color-warning);
  --color-danger: var(--ion-color-danger);

  /* Ionics */
  --ion-font-family: "Silkscreen", "Roboto Mono", monospace;

  --ion-color-primary: #821510;
  --ion-color-primary-rgb: 130, 21, 16;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #72120e;
  --ion-color-primary-tint: #8f2c28;

  --ion-color-secondary: #332525;
  --ion-color-secondary-rgb: 51, 37, 37;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2d2121;
  --ion-color-secondary-tint: #473b3b;

  --ion-color-tertiary: #644340;
  --ion-color-tertiary-rgb: 100, 67, 64;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #583b38;
  --ion-color-tertiary-tint: #745653;

  --ion-color-success: #00d788;
  --ion-color-success-rgb: 0, 215, 136;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #00bd78;
  --ion-color-success-tint: #1adb94;

  --ion-color-warning: #eab700;
  --ion-color-warning-rgb: 234, 183, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #cea100;
  --ion-color-warning-tint: #ecbe1a;

  --ion-color-danger: #d70000;
  --ion-color-danger-rgb: 215, 0, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bd0000;
  --ion-color-danger-tint: #db1a1a;

  --ion-color-light: #d6c894;
  --ion-color-light-rgb: 214, 200, 148;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #bcb082;
  --ion-color-light-tint: #dace9f;

  --ion-color-medium: #b58f70;
  --ion-color-medium-rgb: 181, 143, 112;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #9f7e63;
  --ion-color-medium-tint: #bc9a7e;

  --ion-color-dark: #322424;
  --ion-color-dark-rgb: 50, 36, 36;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2c2020;
  --ion-color-dark-tint: #473a3a;
}

// Define the breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
);

.Toastify__toast-container--top-center {
  --toastify-toast-top: calc(var(--ion-safe-area-top, 0) + 89px);
  top: calc(var(--ion-safe-area-top, 0) + 89px);
}
// Generate hide classes for each breakpoint
@each $name, $breakpoint in $breakpoints {
  .hide-#{$name} {
    display: none;

    @media (min-width: #{$breakpoint}) {
      display: flex; // or whatever display type is required
    }
  }

  .hide-#{$name}-up {
    display: flex; // or whatever display type is required

    @media (min-width: #{$breakpoint}) {
      display: none;
    }
  }
}

ion-button {
  text-transform: none;

  ion-icon {
    color: var(--color-primary);
  }
}

ion-popover {
  ion-item {
    --color: white;
    color: white;
    &:hover {
      --color: var(--color-dark);
      color: var(--color-dark);
    }
  }
}

ion-toast {
  --background: var(--ion-background-color);
  text-align: center;
}

ion-alert {
  .alert-head {
    --ion-text-color: var(--ion-color-primary);
    font-weight: bold;
  }
  .alert-message {
    color: var(--ion-color-light-shade) !important;
  }
  .alert-button-group {
    display: flex;
    flex-direction: row !important;
  }

  .danger {
    color: var(--colorful-error-color) !important;
  }
  input {
    --ion-text-color: var(--ion-color-light-shade);
  }
  button.alert-button-role-cancel {
    color: var(--ion-color-medium-tint) !important;
  }
}

.select-alert {
  --width: 400px;
  .select-interface-option {
    .alert-radio-label {
      color: var(--ion-color-medium-tint) !important;
      font-size: 14px;
    }
  }
}

ion-datetime {
  --background: var(--background-color-light);
  --background-rgb: 44, 46, 49;
}
ion-datetime::part(wheel-item) {
  color: var(--color-secondary);
}
ion-datetime::part(wheel-item active) {
  color: var(--ion-color-primary);
}

.vertical-tab-bar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px - 57px);
  width: 80px;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 64px;
  border-left: 1px solid #363636;
  z-index: 20;
}

.alert-modal {
  --width: 250px;
  --max-height: 205px;
  margin: auto;
  &::part(content) {
    background: #121212;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
  ion-content.alert-modal-content {
    --background: #121212;
  }
  ion-title {
    max-height: 59px;
    height: 59px;
    color: var(--color-secondary);
  }
}

ion-split-pane {
  --side-width: 370px;
  --side-min-width: 370px;
}
